* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: rgb(33, 34, 36);
    padding-top: 3vh;
    position: fixed;
    min-height: 4vh;
    min-width: 100vw;
    /* box-shadow: 0 4px 8px rgba(117, 44, 44, 0.1);    */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    text-decoration: none;
    color: white
}

nav ul a:hover {
    color: red;
}

.being-viewed a {
    color: rgb(255, 31, 143);
}

main {
    margin-top: 10vh;
    flex: 1
}

footer {
    background-color: rgb(231, 227, 227);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
    padding-bottom: 8vh;
    padding-top: 2vh;
    margin-top: 10vh;
}

.main-base {
    background-color: aquamarine;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

}

.main-base-left {
    padding: 1%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-base-left-note p {
    font-size: x-large;
    font-weight: bold;
}

.main-base-left-subscribe {
    display: flex;
    flex-direction: column;
}

.main-base-left-subscribe-note p {
    font-size: large;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.main-base-left-subscribe-button {
    margin-top: 1vh;
}

button {
    cursor: pointer;
}

.main-base-left-subscribe-button button {
    padding: 1vh;
    border: none;
    border-radius: 10px;
}

.main-base-left-subscribe-button-2 button {
    padding: 2vh;
    border: none;
    border-radius: 10px;
    background-color: rgb(14, 13, 13);
    color:rgb(23, 204, 195);
    font-weight: bold;
    margin-top: 2vh;
}

.main-base-right {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.main-base-right img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bg-board {
    background-color: rgb(240, 240, 240);
    width: 90%;
    margin: auto;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-list-card {
    margin: 1vh;
    display: flex;
    flex-direction: column;
    width: 25vw;
    border-radius: 10px;
    justify-content: center;
    min-width: 20vw;
}

.feature-list-card img {
    max-width:100%;
    max-height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.feature-list-card p {
    padding: 15px;
    padding-bottom: 3vh;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 8;
    background-color: rgb(25, 25, 25);
    color: rgb(180, 180, 180);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.content-title {
    width: 90%;
    margin: auto;
    margin-top: 3vh;
    font-size: x-large;
    font-weight: bold;
}

.review-card span {
    color: rgb(230, 221, 221);
    font-size: large;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 8px;
}

.review-card span span{
    color: rgb(153, 0, 140);
    margin-left: 1vw;
    background-color: rgb(222, 255, 102);
    padding: 4px;
    border-radius: 10px;
}

.review-card p {
    color: rgb(17, 14, 14);
    font-size: large;
    font-weight: bold;
    background-color: rgb(236, 160, 255);
    padding: 2%;
    border-radius: 10px;
}

.join-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10%;
    font-size: large;
}

.join-card span {
    font-weight: bold;
    font-size: x-large;
}